@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 0 20px;
  background-color: #f2f3f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body i {
  pointer-events: none;
}
body h1 {
  color: #3e3e3e;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn {
  box-shadow: -2px -2px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0 0 0 15px;
  padding: 10px 15px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  color: #3e3e3e;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
.btn.btn-submit {
  position: absolute;
  padding: 15px 20px;
  top: 48%;
  right: 31%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .btn.btn-submit {
    padding: 15px 20px;
    top: 20%;
    right: -8%;
  }
}
.btn:hover {
  box-shadow: inset -2px -2px 12px white, inset -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.alert-msg {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(-80px);
  transition: all 0.5s linear;
}
.alert-msg.show {
  transform: translateY(0px);
}

.hide {
  display: none;
}

.darkmode--activated p, .darkmode--activated input, .darkmode--activated select {
  color: #fff;
}
.darkmode--activated .alert-msg {
  background-color: rgba(255, 255, 255, 0.15);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
}
header .todo-form {
  margin-top: 40px;
  position: relative;
}
header .todo-form select {
  box-shadow: -2px -2px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 200px;
  margin: 0 0 0 15px;
  padding: 15px 20px;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  color: #3e3e3e;
  backdrop-filter: blur(10px);
  background: url("../img/keyboard-down-arrow.png") no-repeat 90% center;
  background-color: rgba(255, 255, 255, 0.3);
  appearance: none;
}
header .todo-form select:focus {
  box-shadow: inset -2px -2px 12px white, inset -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(0, 0, 0, 0.3);
  outline: 0;
}
@media (max-width: 600px) {
  header .todo-form select {
    width: 400px;
    margin: 20px 0 0 0;
  }
}
header .todo-form .todo-input {
  box-shadow: -2px -2px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 15px 20px;
  border: 0;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
header .todo-form .todo-input:focus {
  box-shadow: inset -2px -2px 12px white, inset -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(0, 0, 0, 0.3);
  outline: 0;
}
@media (max-width: 600px) {
  header .todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.todo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.todo-container .todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  padding: 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: -2px -2px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
.todo-container .todo-card.completed p {
  text-decoration: line-through;
}
.todo-container .todo-card .todo-title {
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  padding: 5px 8px;
  /* border-bottom: 10px double; */
  color: #0080FF;
}
.todo-container .todo-card .todo-content {
  font-size: 18px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todo-container .todo-card .edit-input {
  box-shadow: -2px -2px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  border: 0;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
.todo-container .todo-card .edit-input:focus {
  box-shadow: inset -2px -2px 12px white, inset -2px -2px 8px rgba(255, 255, 255, 0.5), inset 2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.todo-container .todo-card .todo-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .todo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .todo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .todo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
