body {
  padding: 0;
  background-image: url(./img/bg-body.jpg);
}

/* conteainer */
.container_modify {
  padding: 0;
  background-color: #356618;
}
@media (min-width: 576px) {
  .container_modify {
    padding: 0 1rem;
  }
}

/* header */
header {
  background: #fff;
}
header h1 {
  margin: 0;
  padding: 1.5rem;
}
header h1 a {
  display: block;
}
.navbar_body {
  padding: 0;
  border-bottom: 1px solid #fff;
}
.navbar_body .navbar-nav .nav-link {
  flex: 1;
  padding: 1rem 0;
  background: #4b4b4b;
  color: rgb(129, 167, 129);
}
.navbar_body .navbar-nav {
  flex-basis: 100%;
  text-align: center;
}
.navbar_body .navbar-nav .nav-link:hover {
  background-color: #d9eacf;
  color: black;
}
.navbar_body .navbar-nav .nav-link.active {
  background: #91a784;
  color: green;
}
.navbar_body .navbar-nav .nav-link.active:hover {
  background-color: #d9eacf;
}
header .navbar-toggler:focus {
  box-shadow: none;
}

/* 幻燈片 carousel */
.card_body {
  padding: 0 1rem;
}
.carousel a {
  padding: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.5);
}
.carousel a h2 {
  color: #dbdf92;
}
.carousel a:hover {
  color: rgb(79, 203, 44);
}
a p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.small_arrow {
  text-align: center;
}
@media (min-width: 768px) {
  a p {
    white-space: normal;
  }
  .small_arrow {
    display: none;
  }
}
.thumbnail_picture {
  flex: 1 0 auto;
  border: 1px solid #fff;
}
.thumbnail_body {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  color: #fff;
}
.thumbnail_body + .sthumbnail_body {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .thumbnail_body {
    display: flex;
    color: #fff;
    align-items: normal;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .thumbnail_body {
    flex-direction: row;
    align-items: center;
  }
  .card_body + .card_body {
    border-left: 2px solid #3d751a;
    box-shadow: inset 1px 0 0 #2a5a0d;
  }
  .thumbnail_body {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .thumbnail_picture {
    margin-right: 1rem;
  }
}
.thumbnail_body h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #dbdf92;
}
.thumbnail_body p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.carousel i {
  color: #fff;
  padding: 2px;
  border-radius: 50%;
  background-color: #798f92;
}
.thumbnail_content {
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .thumbnail_content {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 992px) {
  .thumbnail_content {
    margin: 0;
  }
}
/* 中間白色區域 */
.article_box {
  background-color: #fff;
  padding: 1rem;
}
.article_content h2 {
  color: #733d1c;
  background-color: #dce8d4;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 25px;
  border-bottom: 2px solid #acc799;
  text-shadow: #fff 2px 0 0px;
  text-transform: uppercase;
}
.article_content h3 {
  color: #733d1c;
  font-size: 14px;
  padding: 1rem 0;
  margin: 0;
}
.article_content p {
  margin: 0;
}
.article_tips h2 {
  text-shadow: #fff 2px 0 0px;
  color: #733d1c;
  background-color: #dce8d4;
  padding: 0.5rem;
  margin: 0;
  font-size: 25px;
  border-bottom: 2px solid #acc799;
  text-transform: uppercase;
}
li {
  color: #606060;
}
li + li {
  margin-top: 1rem;
}
ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}
ol li::marker {
  font-weight: bold;
}

/* footer */

footer {
  background-color: #dce8d4;
}
.copyright {
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  background-color: #356618;
}
.copyright p {
  padding: 0;
}
.footer_content {
  color: #8a8b8b;
  padding: 0 1rem;
}
.footer_content {
  border-top: 3px solid #c9dabc;
}

.footer_content button {
  border: none;
  background-color: transparent;
  color: gray;
}
@media (min-width: 576px) {
  .footer div:nth-child(2n) {
    border-left: 3px solid #c9dabc;
  }
  .footer_content button {
    display: none;
  }
  .footer_content p.collapse {
    display: block;
  }
  .collapse {
    font-size: 17px;
  }
  .footer_content + .footer_content {
    border-left: 3px solid #c9dabc;
  }
}
footer a:hover {
  color: rgb(79, 203, 44);
}
footer h3 {
  font-size: 18px;
  color: #828283;
  margin: 0.5rem 0;
  text-shadow: #fff 2px 0 0px;
  white-space: nowrap;
}
footer p {
  font-size: 13px;
  margin: 0;
  padding-bottom: 0.5rem;
}
.media_modify {
  color: #828283;
  display: block;
}
.footer_content a {
  display: inline-block;
  text-decoration: none;
}
footer i {
  padding: 0 1rem 0 0;
  vertical-align: middle;
  color: #2b6300;
  font-size: 20px;
}
ul {
  padding: 0;
}
.footer_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_content a {
  flex-basis: 50%;
}
.btn {
  line-height: 1;
}
@media (min-width: 768px) {
  .footer_content ul {
    display: block;
  }
  .footer_content a {
    display: block;
  }
}
